In [ ]:
areas = ["hallway",11.25,"kitchen",18,"living room",20,"bedroom",10.75,"bathroom",9.5]

In [ ]:
# atribuindo à uma variável a soma do sexto elemento da lista area com o oitavo elemento da lista area
eat_sleep = areas[5] + areas[7]
print(eat_sleep)

30.75

In [ ]:
# acessando os 6 primeiros elementos da lista areas e criando uma nova lista
downstairs = areas[0:6]
print(downstairs)

['hallway', 11.25, 'kitchen', 18, 'living room', 20]

In [ ]:
# acessando os 4 ultimos elementos da lista areas e criando uma nova lista
upstairs = areas[6:]
print(upstairs)

['bedroom', 10.75, 'bathroom', 9.5]

In [ ]:
x = [['a', 'b', 'c'],
     ['d', 'e', 'f'],
     ['g', 'h', 'i']]

In [ ]:
# acessando valores de uma lista de listas
x[2][0]

'g'

In [ ]:
x[2][:2]

['g', 'h']

In [ ]:
# valores da lista area
hall = 14.0
kitchen = 18.0
living= 20.0
bedroom = 18.75
bathroom = 9.50
#lista house
house = [["hallway",hall],["kitchen",kitchen],["living",living],["bedroom",bedroom],["bathroom",bathroom]]

In [ ]:
house[-1][1]

9.5

In [ ]:
# lista de nomes e idades da minha família
fam = ['Rian', 17,'Paulo', 26, 'Daiane', 27, 'Socorro', 43]
# alterando valores da lista fam
fam[7] = 39
fam[0:2] = ['Alyne', 31]
fam

['Alyne', 31, 'Paulo', 26, 'Daiane', 27, 'Socorro', 39]

In [ ]:
# ADICIONANDO VALORES À LISTA fam E CRIANDO UMA NOVA LISTA
fam_ext = fam + ['Me', 17]
fam_ext

['Alyne', 31, 'Paulo', 26, 'Daiane', 27, 'Socorro', 39, 'Me', 17]

In [ ]:
# DELETANDO VALORES DA LISTA fam
del(fam_ext[0:1])
fam_ext

['Paulo', 26, 'Daiane', 27, 'Socorro', 39, 'Me', 17]

In [ ]:
# ATRIBUINDO UMA LISTA À MAIS DE UMA VARIÁVEL, TAL QUAL MODIFICAR UMA, TAMBÉM MODIFICA A OUTRA
X = ['A', 'B', 'C']
y = X
y[1] = 'Z'
y

['A', 'Z', 'C']

In [ ]:
# ATRIBUINDO O VALOR DE UMA LISTA À OUTRA VARIÁVEL, MAS PODENDO MODIFICÁ-LAS SEPARADAMENTE
y = list(X)
y

['A', 'Z', 'C']

In [ ]:
y = X[:]
y

['A', 'Z', 'C']

In [ ]:
y[1] = 'W'
y

['A', 'W', 'C']

In [ ]:
X

['A', 'Z', 'C']

In [ ]:
# MODIFICANDO VALORES DA LISTA areas
areas[9] = 10.5
areas

['hallway',
 11.25,
 'kitchen',
 18,
 'living room',
 20,
 'bedroom',
 10.75,
 'bathroom',
 10.5]

In [ ]:
# MODIFICANDO STR DA LISTA areas
areas[4] = 'chill zone'
areas

['hallway',
 11.25,
 'kitchen',
 18,
 'chill zone',
 20,
 'bedroom',
 10.75,
 'bathroom',
 10.5]

In [ ]:
areas_1 = [areas] + ['poolhouse', 24.5]
areas_1

[['hallway',
  11.25,
  'kitchen',
  18,
  'living room',
  20,
  'bedroom',
  10.75,
  'bathroom',
  9.5],
 'poolhouse',
 24.5]

In [ ]:
areas_2 = [areas_1] + ['garage', 15.5]
areas_2

[[['hallway',
   11.25,
   'kitchen',
   18,
   'living room',
   20,
   'bedroom',
   10.75,
   'bathroom',
   9.5],
  'poolhouse',
  24.5],
 'garage',
 15.5]

In [ ]:
# crie uma lista areas_copy
areas_copy = areas
# mude areas_copy
areas_copy[0] = 5
areas

[5, 11.25, 'kitchen', 18, 'living room', 20, 'bedroom', 10.75, 'bathroom', 9.5]

In [ ]:
# voltando ao valor original da lista area
areas[0] = 'hallway'

In [ ]:
# corrigindo o codigo de areas_copy
areas_copy = list(areas)
areas_copy[0] = 'sadroom'
areas_copy

['sadroom',
 11.25,
 'kitchen',
 18,
 'living room',
 20,
 'bedroom',
 10.75,
 'bathroom',
 9.5]

In [ ]:
areas

['hallway',
 11.25,
 'kitchen',
 18,
 'living room',
 20,
 'bedroom',
 10.75,
 'bathroom',
 9.5]